// Footer-section
.footer-sec {
    background-color: $primary-color;
    .widget-container {
        .widget-heading {
            margin-top: 33px;
            color: #ffffff;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 1.7em;
            text-align: center;
            @media (min-width: 768px) {
                text-align: left;
                // font-size: 2em;
                margin-top: 0;
            }
        }
        .widget-content {
            // p{
            //   color: #ffffff;
            //   font-family: $primary-font;
            //   font-weight: 400;
            //   font-size: 1.3em;
            //   padding-top: 13px;
            //   text-align: center;
            //   @media (min-width:768px){
            //     text-align: left;
            //   }
            // }
            a {
                text-decoration: none;
                color: #ffffff;
                font-family: $primary-font;
                font-weight: 400;
                text-align: center;
                transition: opacity 0.02s ease-in;

                &:hover {
                    opacity: 58%;
                }
            }

            .social-media {
                margin: 0;
                padding: 0;
                justify-content: center;
                @media (min-width: 768px) {
                    justify-content: left;
                }
                li {
                    list-style-type: none;
                    padding-left: 16px;
                    &:first-child {
                        padding-left: 0;
                    }

                    a {
                        text-decoration: none;
                        font-size: 1.3em;
                        font-family: $primary-font;
                        i {
                            color: #ffffff;
                            margin-bottom: 38px;
                            &:hover {
                                opacity: 58%;
                            }
                        }
                    }
                }
            }
        }
        ul {
            margin: 0;
            padding: 0;
            text-align: center;
            @media (min-width: 768px) {
                text-align: left;
            }
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-family: $primary-font;
                    font-size: 1.3em;
                    padding-top: 13px;
                    text-align: center;
                }
            }
        }

        p {
            color: #ffffff;
            font-family: $primary-font;
            font-size: 1.5em;
            font-weight: 400;
            text-align: center;
            
            @media (min-width: 768px) {
                text-align: left;
            }

            a {
                font-size: 0.9em;
            }
        }
    }
}

/* copyright css */
.copy-right {
    background-color: #fcc300;
    .copyright-text {
        color: #030303;
        text-align: center;
        font-size: 1.3em;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: $primary-font;
        font-weight: 400;
        margin: 0;
        a {
            color: #030303;
            font-weight: 700;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
//end Footer-section
