.unicorn-hero-section {
    margin-bottom: 155px;
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 7px;
                border: none;
                background-color: #fd869f;
                border-radius: 35%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: #fa093c;
                }
            }
        }
    }

    .slider-container {
        position: relative;

        .slides {
            .slide {
                img {
                    width: 100%;
                }
            }
        }

        .herocircle {
            position: absolute;
            top: -25px;
            left: -10px;
            width: 69px;
        }
    }

    .unicorn-hero-text {
        color: #d6f3f7;
        background-image: url(../images/bgtextbackground.png);
        padding: 100px 81px;
        background-size: 100% 100%;
        text-align: center;
        // letter-spacing: 4px;
        line-height: 48px;
        font-size: 1.6em;
        position: absolute;
        bottom: -50px;
        overflow: hidden;
        display: none;

        @media (min-width: 992px) {
            padding: 61px 38px;
            line-height: 47px;
            font-size: 1.6em;
            display: block;
            width: 300px;
            right: -70px;
        }
        @media (min-width:1200px) {
            padding: 100px 81px;
            line-height: 59px;
            font-size: 2.1em;
            display: block;
            width: 500px;
            right: -125px;
        }
        p {
            font-weight: 400;
            font-family: $secondary-font;
            padding: 0;
            margin: 0;
        }
    }
}

// services section
.services-sec {
    .services {
        img {
            margin: 0 auto;
            width: 149px;
            display: block;
        }
        .services-menu-heading {
            font-weight: 400;
            font-family: $secondary-font;
            text-align: center;
            font-size: 1.2em;
            color: $primary-color;
            padding-top: 20px;
            @media (min-width: 768px) {
                font-size: 2em;
            }
        }
    }
}

// Start Process section
.Process-section {
    margin-bottom: 100px;
    margin-top: 4%;
    .Process-heading-text {
        font-weight: 400;
        font-family: $secondary-font;
        font-size: 2.5em;
        color: $primary-color;
        text-transform: uppercase;
        text-align: center;
        @media (min-width: 992px) {
            font-size: 3.1em;
        }
    }
    .Process-text {
        text-align: center;
        color: #261d1b;
        font-weight: 400;
        font-family: $primary-font;
        font-size: 1.2em;
        width: 80%;
        margin: 0 auto;
        @media (min-width: 992px) {
            font-size: 1.5em;
        }
    }
    .Process-button {
        text-align: center;
        margin-top: 30px;
        @media (min-width: 992px) {
            text-align: right;
        }
        a {
            text-decoration: none;
            font-weight: 500;
            font-family: $primary-font;
            color: #010101;
            background-image: url(../images/process.jpg);
            background-size: 100% 100%;
            padding: 13px 58px;
            font-size: 1.2em;
            letter-spacing: 2px;
        }
    }
}
//our activites section
.activites-sec {
    margin-bottom: 128px;
    .activites-heading {
        text-align: center;
        color: #fa194f;
        font-weight: 400;
        font-family: $secondary-font;
        font-size: 2.8em;
        padding-bottom: 40px;
        @media (min-width: 992px) {
            font-size: 3.8em;
        }
    }
    .activite {
        .activite-main {
            background-color: #fcc300;
            padding: 25px;
            box-shadow: 2px 0px 10px 0px #888888d9;
            @media (min-width: 992px) {
                padding: 35px;
            }
            a {
                img {
                    width: 37%;
                    margin: 0 auto;
                    display: flex;
                }
            }
            .activites-menu-heading {
                text-align: center;
                padding-top: 10px;
                font-weight: 400;
                font-family: $secondary-font;
                color: #000;
                font-size: 2em;
            }
            .activites-text {
                text-align: center;
                padding-top: 10px;
                font-weight: 500;
                font-family: $primary-font;
                color: #000;
                font-size: 1em;
                line-height: 33px;
                margin-bottom: 0;
            }
        }
        &:first-child {
            .activite-main {
                border-top-left-radius: none;
                @media (min-width: 992px) {
                    border-top-left-radius: 100px;
                }
            }
        }
        &:nth-child(3) {
            .activite-main {
                border-top-right-radius: none;
                @media (min-width: 992px) {
                    border-top-right-radius: 100px;
                }
            }
        }
        &:nth-child(4) {
            .activite-main {
                border-top-left-radius: none;
                @media (min-width: 992px) {
                    border-bottom-left-radius: 100px;
                }
            }
        }
        &:last-child {
            .activite-main {
                border-bottom-right-radius: none;
                @media (min-width: 992px) {
                    border-bottom-right-radius: 100px;
                }
            }
        }
    }
}
// UNICORN SCHOOL for parents section
.scl-parents-sec {
    margin-bottom: 100px;
    .scl-parents-heading {
        font-weight: 400;
        font-family: $secondary-font;
        color: $primary-color;
        font-size: 2.5em;
        text-align: center;
        @media (min-width: 992px) {
            font-size: 3em;
        }
    }
    .scl-parents-heading-text {
        color: #4f4e4e;
        font-weight: 400;
        font-family: $primary-font;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 87px;
        @media (min-width: 992px) {
            font-size: 1.8em;
        }
    }
    .parents-sec {
        @media (min-width: 768px) {
            background-image: url(../images/testimonialsimg.jpg);
            background-repeat: no-repeat;
            height: 653px;
            background-size: 43%;
        }
        .parents-text {
            color: #000000;
            background-image: url(../images/testimonials.png);
            line-height: 40px;
            padding: 107px 40px;
            background-size: 100% 100%;
            text-align: center;
            letter-spacing: 4px;
            line-height: 39px;
            font-size: 1em;
            @media (min-width: 992px) {
                padding: 100px 81px;
                line-height: 59px;
                font-size: 1.6em;
                padding: 80px 81px;
            }
            p {
                font-weight: 400;
                font-family: $secondary-font;
                padding: 0;
                margin: 0;
                font-size: 0.7em;
            }
        }
        .parents-button {
            text-align: center;
            margin-top: 50px;
            @media (min-width: 992px) {
                text-align: right;
            }
            a {
                text-decoration: none;
                font-weight: 500;
                font-family: $primary-font;
                color: #110d00;
                background-image: url(../images/process.jpg);
                background-size: 100% 100%;
                letter-spacing: 2px;
                padding: 13px 40px;
                font-size: 1em;
                @media (min-width: 992px) {
                    padding: 13px 58px;
                    font-size: 1.2em;
                }
            }
        }
    }
    .parent-nav {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            border: none;
            box-shadow: none;
            color: #fff;
            background-color: #fcc300;
            width: 50px;
            height: 50px;
            padding: 10px;
            border-radius: 50%;
            position: relative;
            transition: background-color 0.3s ease-in-out;

            i {
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &.next {
                margin-right: 15px;
            }

            &:hover {
                background-color: lighten(#fcc300, 10);
            }
        }
    }
}

// News and events section

.events-sec {
    margin-bottom: 156px;
    .events-heading {
        text-align: center;
        color: #fa194f;
        font-weight: 400;
        font-family: $secondary-font;
        font-size: 2.8em;
        padding-bottom: 40px;
        @media (min-width: 992px) {
            font-size: 3.8em;
        }
    }
    a {
        text-decoration: none;
        .events {
            border: none;
            .events-menu-heading {
                text-align: center;
                padding-top: 10px;
                font-weight: 400;
                font-family: $secondary-font;
                color: $primary-color;
                font-size: 1.6em;
                border: none;
                @media (min-width: 992px) {
                    font-size: 2.2em;
                }
            }
            .events-menu-text {
                background-image: url(../images/events.jpg);
                background-size: 100% 100%;
                padding: 27px 28px;
                background-position: top left;
                text-align: center;
                font-weight: 500;
                font-family: $primary-font;
                color: #000;
                font-size: 0.9em;
                line-height: 33px;
                margin-bottom: 0;
                @media (min-width: 992px) {
                    font-size: 1em;
                }
                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
// End News and events section

.contact-sec {
    margin-bottom: 76px;
    .section-heading {
        position: relative;
        margin-bottom: 40px;
        &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: #000;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .contact {
        img {
            width: 84%;
        }
    }
    .contact-card {
        box-shadow: 10px 8px 20px 9px #60606017;
        padding: 26px 25px;
        height: 100%;
        form {
            input::placeholder {
                color: $primary-color;
                font-family: $secondary-font;
                font-weight: 400;
            }
            input,
            textarea {
                width: 100%;
                border: none;
                border-bottom: 1px solid;
            }
            textarea::placeholder {
                color: $primary-color;
                font-family: $secondary-font;
                font-weight: 400;
            }
            select {
                color: $primary-color;
                border-top: none;
                border-left: none;
                border-right: none;
                font-family: $secondary-font;
                font-weight: 400;
                border-bottom: 1px solid #000;
                width: 100%;
                color: #00bcd3;
                outline: none;
                background: transparent;
                option {
                    font-family: $secondary-font;
                    font-weight: 400;
                    color: #00bcd3;
                    border-color: #000;
                }
            }
            .btn-container {
                text-align: center;
                button {
                    // background-color: $primary-color;
                    // border: none;
                    // color: #fff;
                    // padding: 3px 29px;
                    @include button($primary-color, #fff);
                }
            }
        }
    }
}
